:root {
	--remotion-font: Montserrat, system-ui, -apple-system, Segoe UI, Roboto,
		Ubuntu, Cantarell, Noto Sans, sans-serif, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	--base-size: 48px;
	--base-primary: #4169e1;
	--base-blue: #2a5cf5;
	--base-yellow: #e0ff57;
	--base-bg: #0a60af;
	--base-circle: #84a7fb;
	/* #70ccf9; */
	--base-orange: #191919;
	--base-blur: 100px;
}

.audio-viz {
	display: flex;
	flex-direction: row;
	height: calc(var(--base-size) * 4);
	align-items: center;
	justify-content: center;
	gap: calc(var(--base-size) * 0.25);
	margin-top: var(--base-size);
	margin-bottom: var(--base-size);
}

.bar {
	border-radius: calc(var(--base-size) * 0.25);
	width: calc(var(--base-size) * 0.25);
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	color: white;
	background-color: var(--base-bg);
	font-family: var(--remotion-font);
}

.row {
	/* margin-top: 237px; */
	display: flex;
	flex-direction: row;
}

.cover {
	border-radius: 24px;
	max-height: 300px;
	max-width: 300px;
}

.title {
	margin-left: var(--base-size);
	line-height: 1.25;
	font-weight: 800;
	color: rgba(55, 65, 81, 1);
	font-size: calc(var(--base-size) * 1.05);
}

.blulexi-footer {
	font-size: 42px;
	max-height: 267px;
	height: 267px;
	margin: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	border-radius: 32px;
	align-self: center;

	position: absolute;
	bottom: calc(1.5 * var(--base-size));
	/* padding: var(--base-size); */
	font-weight: 200;

	text-align: center;
}

.captions {
	font-size: calc(var(--base-size) * 1.5);
	font-weight: 600;
	min-height: 700px;
}

.from-top {
	margin-top: 237px;
}

.glass-effect {
	padding-top: calc(var(--base-size) * 0.5);
	background: rgba(255, 255, 255, 0.2); /* Adjust color and opacity */
	padding: calc(var(--base-size) * 1.6);
	height: 100%;
	backdrop-filter: blur(
		var(--base-blur)
	); /* This creates the frosted glass effect */
	-webkit-backdrop-filter: blur(var(--base-blur)); /* For Safari */
}

.stage {
	position: fixed;
	top: 200px;
	left: 200px;
	display: flex;
	height: 220vh;
	width: 100vh;
}

.box {
	align-self: flex-end;
	background-color: var(--base-circle);
	transform-origin: bottom;
	margin: 0 auto 0 auto;
	height: 400px;
	width: 400px;
	border-radius: 100%;
}

@keyframes move-around {
	0% {
		transform: translate(35vw, -188vh);
	}
	25% {
		transform: translate(-30vw, -120vh);
	}
	50% {
		transform: translate(30vw, -65vh);
	}
	75% {
		transform: translate(-30vw, -10vh);
	}
	100% {
		transform: translate(35vw, -188vh);
	}
}

.bounce {
	position: relative;
	animation-name: move-around;
	animation-timing-function: ease-in-out;
	animation-duration: 20s; /* Slow movement over 2 minutes */
	animation-iteration-count: infinite;
}

.promo-container {
	width: 100%;
	height: 100%;
	background-color: rgba(55, 65, 81, 1);
	font-family: var(--remotion-font);
}

.promo-composition {
	position: absolute;
	left: calc(var(--base-size) * 9);
	top: calc(var(--base-size) * -5);
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	border-radius: calc(var(--base-size) * 0.75);
	overflow: hidden;
}

.free-template {
	width: calc(var(--base-size) * 16);
	left: calc(var(--base-size) * 0.75);
	font-size: calc(var(--base-size) * 1.5);
	line-height: calc(var(--base-size) * 2);
	font-weight: 800;
	filter: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03))
		drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08));
	left: calc(var(--base-size) * 0.75);
	top: calc(var(--base-size) * 0.25);
	position: absolute;
	color: rgba(107, 114, 128, 1);
}

.description {
	color: rgba(107, 114, 128, 1);
	line-height: 1;
	font-weight: normal;
	font-size: var(--base-size);
	filter: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03))
		drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08));
	width: calc(var(--base-size) * 13);
	left: calc(var(--base-size) * 0.75);
	top: calc(var(--base-size) * 2.5);
	position: absolute;
}

.tagline {
	font-weight: 800;
	font-size: calc(var(--base-size) * 2.25);
	line-height: calc(var(--base-size) * 2.5);
	color: rgba(251, 191, 36, 1);
	filter: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03))
		drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08));
	width: calc(var(--base-size) * 16);
	position: absolute;
	top: calc(var(--base-size) * 7);
	left: calc(var(--base-size) * 0.75);
}
